<h1>Selected</h1>
<mat-selection-list
  (selectionChange)="selectionChanged($event)"
  color="primary"
>
  <mat-list-option
    [selected]="true"
    [value]="product.value"
    *ngFor="let product of productListElement.selectedOptions.selected"
  >
    {{ product.value.name }}
  </mat-list-option>
</mat-selection-list>

<h1>All</h1>
<form [formGroup]="productsForm">
  <mat-selection-list #productListElement formControlName="products">
    <mat-list-option *ngFor="let product of products" [value]="product">
      {{ product.name }}
    </mat-list-option>
  </mat-selection-list>

  {{ productsForm.value | json }}
</form>
